.word {
  position: relative;
  cursor: default;
}

.word:hover {
  background-color: #e0e8ff;
}

.word-translation {
  display: none;
  position: absolute;
  top: -3.0rem;
  left: 0;
  color: #3e4042;
  background-color: #f8f8f8;
  border: 1px solid #eee;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-style: normal;
  word-break: keep-all;
  white-space: nowrap;
}
.word:hover .word-translation {
  display: block;
}
